@import url("jquery.bxslider.css");

body{margin: 0; padding: 0; font-family: 'Roboto', arial, sans serif; color: #000000;}

.snowBirdPreHeaderShell{background: #202C35; padding: 15px; min-height: 50px;}
.snowBirdHeaderAddress{color: #FFFFFF; font-weight: 500; text-transform: uppercase; font-size: .9em;}
.snowBirdHeaderEmailAddress{color: #FFFFFF; font-size: .9em;}
.snowBirdHeaderSocialIcons{background: #354756; padding: 5px 10px; color: #FFFFFF; margin: 0 3px; }
.snowBirdHeaderSocialIcons:hover{background: #27B4E1; color: #FFFFFF;}
.snowBirdHeaderWrapper{max-width: 1000px; margin: auto;}
.snowBirdHeaderShell{background: #354756; padding: 20px; min-height: 80px;}
.snowBirdHeaderColumnShell{padding: 0 5px; color: #FFFFFF;}
.snowBirdHeaderColumnShellBorder{border-left: 1px solid #FFFFFF;}
.snowBirdPricesShell{max-width: 800px !important; margin: auto; padding: 0 3%; font-size: 1.4em;}

.snowBirdBlueText{color: #2bb3e0;}

.mainMenuShell{height:0;background:none;}

.snowBirdSuccessFormMessageShell{padding: 20px 3%; margin: 50px 0;}

.hidden{display: none !important;visibility: hidden !important;}

.snowBirdContentTitle{font-size: 3em;}
.snowBirdContentSubTitle{font-size: 1.5em; font-weight: normal;}

.snowbirdBG{padding: 100px 0; min-height: 548px; width: 100%; background-size: cover;}
.whiteBG{background: #FFFFFF;}
.centerWrap{max-width: 1000px; margin: auto;}
.stdBoxShadowOnColorBG{box-shadow: 20px 20px 80px #282828;}
.stdBoxShadow{box-shadow: 0px 0px 50px #CDCDCD;}
.contentList{list-style-type: square;}
.contentMiniTitle{font-size: 1.5em;}

.centerWrap{max-width: 1000px; margin: auto;}
.stdBoxShadowOnColorBG{box-shadow: 20px 20px 80px #282828;}
.contentShell{min-height: 400px; padding: 80px 5%; color: #000000;}
.contentTitle{font-size: 2.5em;}
.grayText{color: #686868;}
.contentFormShell{float: right; width: 300px; margin: 20px; padding: 50px 20px; min-height: 300px;}
.contentSubTitle{font-size: 1.1em;}
.contentIMG{padding: 3px; border: 1px solid #CDCDCD;}
.bold{font-weight: bold;}
.contentParagraph{font-size: 1.2em;}

.snowBirdStateShippingList{list-style-type: square; font-size: .8em;}

.snowBirdIndexBG{background-image: url(../layout/backgrounds/snowbirdCarShippingBG.jpg);}
.snowBirdBGDiv{text-align: center;display: -webkit-flex;display: -ms-flexbox;display: flex;-webkit-flex-direction: column;-ms-flex-direction: column;flex-direction: column;-webkit-justify-content: middle;-ms-flex-pack: middle;justify-content: middle;-webkit-align-items: center;-ms-flex-align: center;align-items: center;width: 100%;height: 400px;vertical-align: middle;padding-top: 5%;padding-bottom: 5%;background-size: cover;background-repeat: no-repeat;background-position: 75% 75%;position: relative;}
.snowBirdBGDiv:before, .snowBirdBGDiv:after{box-sizing: border-box;}

.snowBirdDivShell{padding: 100px 3%;}

.snowBirdButtonShell{margin-top: 20px;}
.snowBirdButton{padding: 15px 40px; background: #2bb3e0; color: #FFFFFF !important;transition: all .3s ease; font-weight: bold;}
.snowBirdButton:hover{padding: 15px 60px; cursor: pointer; color: #0f5c76 !important;}

.sliderHeaderShell{padding: 30px 40px; position: relative; z-index: 700 !important;}
.sliderFormShell{padding: 30px 40px; max-width: 800px; background:#FFFFFF; min-height: 200px; position: relative; z-index: 500; margin:20px auto;}
.whiteText{color: #FFFFFF;}
.whiteBG{background: #FFFFFF;}
.tripleText{ font-size: 3em;}
.oneHalfText{font-size: 1.3em;}
.snowBirdBlue{color: #2bb3e0;}
.snowBirdBlueBG{background: #2bb3e0;}
.centerText{text-align: center;}
.textShadow{text-shadow: 1px 1px 1px #232323;}
.textShadowLight{text-shadow: 1px 1px 1px #EFEFEF;}

.snowBirdContentWrapper{max-width: 1100px; margin: auto;}
.snowBirdHandWriting {font-family: 'Shadows Into Light', cursive;}
.contentPropaganda{text-transform: uppercase; margin: 15px 0;}
.contentListSteps{list-style-type: none;}
.contentListSteps>li{margin: 10px 5px; padding: 10px 5px; border: 1px solid #CDCDCD; max-width: 300px;}
.contentListCircleShell>span{padding: 4px 10px; width: 70px; height: 40px; border-radius: 70px; background: #2bb3e0; color: #FFFFFF; font-weight: bold;}

.snowBirdInput{margin: 5px 0;}

.snowBirdDisplayTextSize{font-size: 2em;}

.bold{font-weight: bold;}
.gridShellThirtyThree{display: grid; grid-gap: 0 5px; grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));}
.gridColumnShell{padding: 0;}

.mainMenuLogoShell{float: left;}
.mainMenuLogoText{float: left; margin-top: 7px; margin-left: 5px;}

.snowBirdStickyHeader {padding: 10px 16px;background: #FFFFFF;display: none; border-bottom: 1px solid #CDCDCD;}
.content {padding: 16px;}
.sticky {position: fixed;top: 0;width: 100%;z-index: 700;}
.sticky + .content {padding-top: 102px;}




.text-justify-xs {
    text-align: justify;
}

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
    .text-justify-sm {
        text-align: justify;
    }
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {
    .text-justify-md {
        text-align: justify;
    }
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    .text-justify-lg {
        text-align: justify;
    }
}

.text-center-xs {
    text-align: center;
}

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
    .text-center-sm {
        text-align: center;
    }
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {
    .text-center-md {
        text-align: center;
    }
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    .text-center-lg {
        text-align: center;
    }
}